*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
  font-family: 'Josefin Sans', sans-serif;
}

body::before{
  content: "";

  width: 100%;
  height: 440px;

  background-color: #453485;

  position: absolute;
  z-index: -1;
}

div#page{
  width: 800px;

  margin: auto;
  padding-top: 10rem;
}

div#header h1{
  font-size: 3rem; 

  padding-bottom: 1rem;

  color: white;
}

div p#textoHeader{
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: lighter;

  color: white;
  
  margin-bottom: 3rem;
}

form{
  width: 100%;

  background: #FFFFFF;

  padding: 3rem 4rem;

  border-radius: 1rem 1rem 0 0;
}

form fieldset{
  border: none;
}

form legend {
  text-transform: uppercase;
  
  border-bottom: 1px solid #E6E6F0;

  width: 100%;

  padding-bottom: 0.5rem;
  margin-bottom: 2rem;

  font-weight: bold;
}

div.container_input{
  display: flex;
  flex-direction: column;
}

div.infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.infos input{
  padding: 0 2.5rem 0;
}

div.container_input input{
    width: 100%;
    height: 55px;

    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 0.6rem;

    margin: 0.6rem 0 2rem;
}

div.container_input span{
  color: #C1BCCC;
  padding-left: 0.5rem;
  font-weight: lighter;
}

div.container_input span:hover{
  color: #97939e;
}

div.col-3{
  display: flex;
} 

div input#data_mentoria{
  width: 20rem;
}

div input[type="time"]{
  width: 8rem;
}

p#textoMentoria{
    text-transform: uppercase;
  
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
  
    font-weight: bold;
}

footer{
  display: flex;
  flex-direction: column;

  padding: 3rem 4rem;
  margin-bottom: 3rem;

  border-radius: 0 0 1rem 1rem;

  background-color: #453485;
}

footer input{
  border: none;
  border-radius: 1.2rem;

  padding: 1.2rem;

  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;

  background: #FF5374;
  color: #FFFFFF
}

footer input:hover{
  background: #e24262;

}